doctype html
html(lang="en")
    head
    <link rel="stylesheet" type="text/css" href="../public/css/style.css"/>title shortme.fun
        // meta
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        // CSS
        link(href="public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection")

    body
        header
            div.header-logo
                a(href="https://shortme.fun")
                    img(src="public/img/logo.png").logo
                div.logo-txt SHORTME.FUN
            img(src="public/img/header-bg.png").header-bg

        main
            div.main-header Short your links - easy & free
            div.main-text Dream big. With shorten, simplified links. Build shorten links with this powerful tool.

        section
            form(action="shortMe" method="POST").section-form
                label(for="fullUrl")
                input(name="fullUrl" id="fullUrl" type="url" placeholder="Make your links shorter")
                label(for="premium").section-text Premium short link ending (optional):
                input(name="premium" id="premium" type="text" placeholder="Premium").input-premium
                span.section-text.section-example shortme.fun/Premium
                button(type="submit") shorten

        div.container
            if shortUrls != null
                each val in shortUrls
                    ul
                        li= val.short

        div.container
            p= short
            p= full

