@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap&family=Montserrat:wght@800&display=swap');

@font-face {
    font-family: 'Sansation';
    src: url('./public/font/Sansation-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
    height: 100%;
}

a {
    color: #6a6a6a;
}

a:hover {
    color: #525252;
}

hr {
    margin: 2rem 0;
    border: 0;
    border-top: 0.5px #eff0f2 solid;
}

li {
    padding: 0.5rem 0 0.5rem;
    font-weight: normal;
}

/*header*/
header {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem 1rem;
    overflow: hidden;
}

.header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.logo {
    height: 2rem;
}

.logo-text {
    padding-top: 0.4rem;
    color: #3d86ca;
    font-family: 'Sansation', sans-serif;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.header-bg {
    position: relative;
    width: 25rem;
    top: -2.5rem;
    left: 1rem;
    z-index: -1;
}

.header-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-title, .desc-title {
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
}

.header-text {
    padding-top: 1rem;
    color: #56575b;
    font-size: large;
}

/*main*/
.section-wrapper {
    background-color: #4158D9;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    margin: 0 auto;
    max-width: 1200px;
}

input {
    text-align: center;
    height: 3rem;
    border-radius: 0.4rem;
    border-color: transparent;
    font-size: large;
}

input:focus {
    outline: #D8E3F2 auto 1px;
    border-radius: 0.4rem;
}

.premium-wrapper {
    display: flex;
    flex-direction: column;
}

.input-premium {
    align-self: flex-end;
    width: 50%;
}

.section-text {
    align-self: flex-end;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    color: white;
    font-size: medium;
}

.section-example {
    padding-top: 0.5rem;
}

button {
    height: 3rem;
    margin-top: 0.5rem;
    border-radius: 0.4rem;
    border-color: transparent;
    font-size: large;
    background: #4393D9;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #1b3987;
}

.divider-desc, .divider-comp {
    margin: 3rem 0;
    width: 100%;
    max-width: 1200px;
    border-top: 0.5px #eff0f2 solid;
}

.divider-comp {
    margin: 1rem 0 3rem;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem 0;
}

.desc-title {
    font-size: x-large;
}

.desc-text {
    padding-top: 1rem;
    font-size: large;
}

.top-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem 2rem;
    font-size: large;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: #F207B4;
}

.desc-logo-text {
    font-size: x-large;
}

.comp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 1rem;
    max-width: 680px;
}

.comp-item {
    padding: 2rem 1rem;
    max-width: 140px;
    height: auto;
}

.comp-img {
    width: 100%;
}

/*footer*/
footer {
    background: #f3f3f3;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 1.5rem 1rem;
}

.footer-logo {
    padding-bottom: 1rem;
    text-align: center;
}

.footer-text {
    max-width: 460px;
    font-size: small;
    text-align: justify;
}

.social {
    display: flex;
    padding-top: 0.5rem;
}

.social-item {
    font-size: 1.5rem;
    padding: 1rem 1rem 1rem;
}

/*small screens*/
@media screen and (min-width: 448px) {
    /*header*/
    .header-bg {
        width: 95%;
    }
}

@media screen and (min-width: 579px) {
    /*footer*/
    .footer-logo {
        padding-bottom: 0;
    }
}

/*tablet*/
@media screen and (min-width: 992px) {
    /*header*/
    header {
        flex-direction: row;
    }

    .header-logo {
        padding-bottom: 1rem;
    }

    .header-bg {
        position: static;
        order: 3;
        width: 40%;
    }

    .header-desc {
        align-items: flex-start;
        width: 60%;
    }

    .header-title {
        font-size: 2rem;
    }

    .filler {
        width: 100%;
    }

    /*main*/
    form {
        flex-direction: row;
        align-content: space-around;
    }

    input {
        height: 4rem;
        font-size: x-large;
    }

    .input-standard {
        order: 1;
        flex-grow: 3;
    }

    .input-premium {
        width: 40%;
    }

    .premium-wrapper {
        order: 3;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
    }

    .section-example {
        padding-bottom: 0;
    }

    button {
        order: 2;
        flex-grow: 1;
        height: 4rem;
        margin: 0 0 0 2rem;
        font-size: x-large;
    }
}

/*desktop*/
@media screen and (min-width: 1060px) {
    /*header*/
    .header-title {
        font-size: 2.5rem;
    }

    .header-text {
        color: grey;
        font-size: x-large;
    }

    /*main*/
    .desc-title {
        font-size: 2rem;
    }

    .desc-text {
        color: grey;
        font-size: 1.2rem;
    }
}
